
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.responsive-product{
  display: none;
}

/* Navbar */
.navbar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    position:fixed;
    background-color: #fff;
    z-index: 2;
}

.product li {
   display: inline-block;
   margin: 30px;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
   
}

.icons a i{
    margin: 10px;
    color: #000;
    cursor: pointer;
}

/* Logo */
.logo{
  text-transform: uppercase;
  font-size: 30px;
  color: #c348f0;
  
}

/* FONDO */
.fondo{
  position:fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, background-color 0.5s ease-out;
}

.active{
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.content{
  width: 440px;
  height: 540px;
  backdrop-filter: blur(80px);
  box-shadow: 2px 1px 15px 0px #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 15px;
  transform: translateY(-150vh);
  transition:transform 0.5s ease
}

 .borrar{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 1;
  font-size: 30px;
  margin: 20px 25px;
  cursor: pointer;
 
}

.content-session{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.login-user{
  font-size: 80px;
  color: #eee7e7;
}

.sesion{
  font-size: 25px;
  color:#eee7e7;
}

.content-input{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin-left: 147px;
}

.content-input > input{
  width: 65%;
  padding: 5px;
  color:#eee7e7;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff; 
  outline: none;
}
.content-input > input::placeholder{
  color:#eee7e7 ;
}

.button-content{
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(213, 188, 253) ;
  font-size: 17px;
  cursor: pointer;
}
.content-password{
  display: flex;
  gap:10px ;
  color: #fff;
}
/* Carrusel */
.carrusel{
    padding-top: 100px;
    line-height: 0;
}
.carru{
    width: 100%;
    height: 500px;
    
}

/* Productos */
.conteiner-target{
  padding: 80px 150px;
  background-color: #eee7e7;
}

.conteiner-target h1{
font-size: 32px;
}

.conteiner-objetos{
  margin-top: 1rem;
  max-width: 100%;
  background-color: rgb(210, 209, 209);
  box-shadow: 0px 0px 4px 0px black;
}

.lista-objetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.lista-objetos li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.lista-objetos li:hover{
  background-color:rgb(240, 230, 230) ;
}

.menu-vertical{
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  background-color: rgb(210, 209, 209);
  
}

.lista-objetos li:hover .menu-vertical{
  display: block;
}

#target{
    margin-top: 30px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card{
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.card img{
    width: 70%;
    height: 50%;
}

.card div h2{
    font-size:22px ;
}
.card div p{
    margin-top:10px ;
    font-size: 18px;
}
.button-target{
    padding: 15px;
    background-color: rgb(213, 188, 253);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

.button-target i{
    margin-right: 10px;
    font-size: 18px;
}
.button-target:hover{
  background-color: rgb(229, 200, 250);
}

/* Carrito */


.cart{
  position: fixed;
  right: 0;
  right: -150%;
  z-index: 3;
  width: 500px;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  backdrop-filter: blur(32px);
  box-shadow: 0px 0px 35px 0px black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.titulo-carrito{
  margin-top: 3rem;
  background-color:  rgb(210, 209, 209) ;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.carrito-vacio{
  background-color: rgb(240, 230, 230) ;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.carrito-conteiner{ 
 width: 80%;
 max-height: 80%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 border-radius: 10px;
 background-color:  rgb(210, 209, 209);
 
}

.productos-carrito-conteiner{
  width: 100%;
  margin: 10px;
  overflow:auto ;
}
.carrito-producto{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(240, 230, 230) ;
  border: 2px solid  rgb(210, 209, 209);
}


.fa-solid{
  cursor: pointer;
}

.carrito-cantidad{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.carrito-producto img{
  width: 100px;
}
.carrito-delete{
  border: none;
  font-size: 15px
}

.pagar-carrito{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  rgb(210, 209, 209);
  padding: 10px;
}
.pagar-carrito div{
  width: 100%;
  padding: 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.button-cart{
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-shadow: 0px 0px 20px 0px rgb(213, 188, 253);
  border-radius: 5px;
  background-color: rgb(213, 188, 253);
  cursor: pointer;
  font-size: 15px;
}
.button-cart:hover{
  background-color: rgb(229, 200, 250)
}

.borrado{
  display: none;
}
/* Footer */
footer {
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 18px;
  }
  
  .pie p {
    margin-bottom: 0px;
  }
  .pie p a {
    text-decoration: none;
    color: black;
  }
  .pie ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  .pie ul li {
    display: inline-block;
    color: black;
  }

  footer ul li a {
    width: 25px;
    height: 25px;
    background-color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    margin: 5px 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0px #000;
    z-index: 1;
  }
  footer ul li a .icon {
    position: relative;
    color: #262626;
    transition: 0.5s;
    z-index: 3;
  }
  footer ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }
  footer ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 2;
  }
  footer ul li a:hover:before {
    top: 0;
  }
  footer ul li:nth-child(1) a:before {
    background: #3b5999;
  }
  footer ul li:nth-child(2) a:before {
    background: linear-gradient(to left, #F048AF, yellow);
  }
  footer ul li:nth-child(3) a:before {
    background: #0077b5;
  }


  /* ! Menu responsive para Celulares */

  @media only screen and (max-width: 660px) {

    .cart{
      max-width: 300px;
    }
    
    .navbar, .carrusel{
      display: none;
    }
    
    .conteiner-target{
      padding: 0;
    }

    #target{
      justify-content: center;
      align-items: center;
    }

    .card{
      margin: 20px;
      width: 200px;
      height: 350px;
    }
    .lista-objetos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
  }
  
  .lista-objetos li {
      position: relative; 
  }
  
  .menu-vertical {
      position: absolute;
      color: #fff;
      max-width: 160px;
      background-color: grey; 
      z-index: 1;
      display: none; 
  }
  
  /* Mostrar el submenú al hacer hover o al hacer foco en un elemento dentro de li */
  .lista-objetos li:hover .menu-vertical,
  .lista-objetos li:focus-within .menu-vertical {
      display: block; 
  }
  
    .contenido-target {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .contenido-target > h1 {
      font-size: 20px;
      margin-top: 20px;
    }

    .card div h2 {
      font-size: 15px;
    }

    .card div p {
      margin-top: 8px;
      font-size: 13px;
    }

    .button-target {
      padding: 10px;
      background-color: rgb(213, 188, 253);
      border: none;
      border-radius: 8px;
      font-size: 12px;
      cursor: pointer;
    }

    .button-target i {
      margin-right: 10px;
      font-size: 12px;
    }

    footer {
      font-size: 15px;
    }

    footer ul li a {
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 22px;
    }

}

/* ! Menu responsive para tablet */

@media only screen and (min-width: 661px) and (max-width: 1628px) {

.menus-vertical{
  display: none;

}
 .lista-objeto:hover .menus-vertical{
  display: block;
}
.responsive-product{
    display: flex;
    justify-content: center;
    
}

.conteiner-objetos{
  width: 90%;
}
.desktop-product{
  display: none;
  
}
.lista-objetos {
    justify-content: space-around;
    font-size: 14px;
    
}

  #target{
    justify-content: center;
    align-items: center;
  }
}